<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.dailyhealth" >

    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon_exercise"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DailyHealth"
        tools:targetApi="31">
        <activity
            android:name=".ScheduleEventSetting"
            android:exported="false" />

        <receiver android:name=".AlarmReceiver" />
        <activity
            android:name=".NavigationActivity"
            android:exported="false" />

        <receiver
            android:name=".TestReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="myapp.DAILY_ALARM" />
            </intent-filter>
        </receiver>
        <activity
            android:name=".UserSetting"
            android:exported="false"/>
        <activity
            android:name=".GetStart"
            android:exported="false"/>
        <activity
            android:name=".SleepManagement"
            android:exported="false" >
        </activity>
        <activity
            android:name=".MoonSettingScreen1"
            android:exported="false">
        </activity>
        <activity
            android:name=".GetInfor"
            android:exported="false"/>
        <activity
            android:name=".GetHeightWeight"
            android:exported="false"/>
        <activity
            android:name=".GetTime"
            android:exported="false"/>
        <activity
            android:name=".ExerciseMainActivity"
            android:exported="false" />
        <activity
            android:name=".ScheduleCalendar"
            android:exported="false" />
        <activity
            android:name=".MainStatistic"
            android:exported="false" />
        <activity
            android:name=".WaterDaily"
            android:exported="false" />
        <activity
            android:name=".MoonSettingScreen3"
            android:exported="false" />
        <activity
            android:name=".MoonSettingScreen4"
            android:exported="false" />
        <activity
            android:name=".MoonSettingScreen2"
            android:exported="false" />
        <activity
            android:name=".MoonCalendar"
            android:exported="false">
        </activity>
        <activity
            android:name=".DetailExerciseActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/SplashTheme"
            android:icon="@drawable/icon_exercise"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"/>
        <activity
            android:name=".SleepStatistics"
            android:exported="false" />
        <activity
            android:name=".ExerciseStatistics"
            android:exported="false" />
        <activity
            android:name=".WaterStatistics"
            android:exported="false" />
    </application>

</manifest>